<h2>商品一覧</h2>

<div align="right" class="admin_item_path">
<%= link_to new_admin_item_path do %>
　新商品登録
<% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税抜価格</th>
      <th scope="col">ジャンル</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td scope="row"><%= item.id %></td>
        <td>
          <%= link_to item.name, admin_item_path(item.id) %>
        </td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
      <% if item.is_active %>
        <td>販売中</td>
      <% else %>
        <td>販売中止</td>
      <% end %>
      </tr>
    <% end %>
  </tbody>