<h2>商品新規登録</h2>
<%= form_with model: @item, url: admin_items_path, local:true do |f| %>
  <div>
    <h4>商品画像</h4>
    <%= f.attachment_field :image %>
  </div>
  <div>
    <h4>商品名</h4>
    <%= f.text_field :name %>
  </div>
  <div>
    <h4>商品説明</h4>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <h4>ジャンル</h4>
    <%= f.collection_select :genre_id, @genre.all, :id, :name %>
  </div>
  <div>
    <h4>税抜価格</h4>
    <%= f.text_field :price %>
  </div>
  <div>
  <h4>販売ステータス</h4>
    <%= f.radio_button :is_active, :TRUE %>
    <%= f.label :boolean, "販売中" %>
    <%= f.radio_button :is_active, :FALSE %>
    <%= f.label :boolean, "販売停止中" %>
  </div>

    <%= f.submit"新規登録" %>

<% end %>