<div class="title">商品新規登録</div>

<div class="item-new">
  <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
    <div class="new-item-list">
      <nav class="new-item">
        <p class="item">商品画像</p>
        <%= f.attachment_field :image %>
      </nav>
    </div>
    <div>
      <nav class="new-item">
        <p class="item">商品名</p>
        <%= f.text_field :name %>
      </nav>
    </div>
    <div class="new-item-list">
      <nav class="new-item">
        <p class="item">商品説明</p>
        <%= f.text_area :introduction %>
      </nav>
    </div>
    <div class="new-item-list">
      <nav class="new-item">
        <p class="item">ジャンル</p>
        <%= f.collection_select :genre_id, @genre.all, :id, :name %>
      </nav>
    </div>
    <div class="new-item-list">
      <nav class="new-item">
        <p class="item">税抜価格</p>
        <%= f.text_field :price %>
      </nav>
    </div>
    <div class="new-item-list">
      <nav class="new-item">
        <p class="item">販売ステータス</p>
          <%= f.radio_button :is_active, :TRUE %>
          <%= f.label :boolean, "販売中" %>
          <%= f.radio_button :is_active, :FALSE %>
          <%= f.label :boolean, "販売停止中" %>
      </nav>
    </div>

      <%= f.submit"新規登録", class:"btn btn-success" %>

  <% end %>
</div>