<div class="title"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</div>

<div class="main">

  <%= form_with model: @customer, url: admin_customer_path, local:true do |f| %>
    <div class="item-list">
      <p>会員ID</p>
      <div><%= @customer.id %></div>
    </div>
    <div class="item-list">
      <p>氏名</p>
      <li><%= f.text_field :last_name %></li>
      <li><%= f.text_field :first_name %></li>
    </div>
    <div class="item-list">
      <p>フリガナ</p>
      <li><%= f.text_field :last_name_kana %></li>
      <li><%= f.text_field :first_name_kana %></li>
    </div>
    <div class="item-list">
      <p>郵便番号</p>
      <li><%= f.text_field :postal_code %></li>
    </div>
    <div class="item-list">
      <p>住所</p>
      <li><%= f.text_field :address %></li>
    </div>
    <div class="item-list">
      <p>電話番号</p>
      <li><%= f.text_field :telephone_number %></li>
    </div>
    <div class="item-list">
      <p>メールアドレス</p>
      <li><%= f.text_field :email %></li>
    </div>
    <div class="item-list">
      <p>会員ステータス</p>
      <li>
      <%= f.radio_button :is_active, :TRUE %>
      <%= f.label :boolean, "有効" %>
      <%= f.radio_button :is_active, :FALSE %>
      <%= f.label :boolean, "退会" %>
      </li>
    </div>


  <%= f.submit '変更を保存する' , class:"btn btn-success" %>


  <% end %>
</div>