<div class="title"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報</div>

<div class="customer-list">
  <li class="customer-list-item">会員ID</li>
  <li class="customer-list-item"><%= @customer.id %></li>
</div>
<div class="customer-list">
  <li class="customer-list-item">氏名</li>
  <li class="customer-list-item"><%= @customer.last_name %><%= @customer.first_name %></li>
</div>
<div class="customer-list">
  <li class="customer-list-item">フリガナ</li>
  <li class="customer-list-item"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></li>
</div>
<div class="customer-list">
  <li class="customer-list-item">郵便番号</li>
  <li class="customer-list-item"><%= @customer.postal_code %></li>
</div>
<div class="customer-list">
  <li class="customer-list-item">住所</li>
  <li class="customer-list-item"><%= @customer.address %></li>
</div>
<div class="customer-list">
  <li class="customer-list-item">電話番号</li>
  <li class="customer-list-item"><%= @customer.telephone_number %></li>
</div>
<div class="customer-list">
  <li class="customer-list-item">メールアドレス</li>
  <li class="customer-list-item"><%= @customer.email %></li>
</div>
<div class="customer-list">
  <li class="customer-list-item">会員ステータス</li>
  <% if @customer.is_active %>
      <li class="customer-list-item">有効</li>
    <% else %>
      <li class="customer-list-item">退会</li>
  <% end %>
</div>
<div>
  <%= link_to edit_admin_customer_path, class:"btn btn-success" do %>
      編集する
  <% end %>
</div>