<div class="title">注文履歴詳細</div>
<div class="admin-order-list">
  <li class="admin-order-list-item">
    <strong>購入者</strong>
  </li>
  <li class="admin-order-list-item">
    <%= @order.customer.last_name+@order.customer.first_name %>
  </li>
</div>
<div class="admin-order-list">
  <li class="admin-order-list-item">
    <strong>注文日</strong>
  </li>
  <li class="admin-order-list-item">
    <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %>
  </li>
</div>
<div class="admin-order-list">
  <li class="admin-order-list-item">
    <strong>配送先</strong>
  </li>
  <li class="admin-order-list-item">
    〒<%= @order.postal_code %><%= @order.address %>
    </li>
  <li class="admin-order-list-item">
    <%= @order.name %>
  </li>
</div>
<div class="admin-order-list">
  <li class="admin-order-list-item">
    <strong>支払方法</strong>
  </li>
  <li class="admin-order-list-item">
    <%= @order.payment_method_i18n %>
  </li>
</div>
<div class="admin-order-list">
  <li class="admin-order-list-item">
    <strong>注文ステータス</strong>
  </li>
  <li class="admin-order-list-item">
    <%= form_with model: @order, url: admin_order_path, local:true do |f| %>
      <%= f.select :status, Order.statuses_i18n.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
      <%= f.submit "更新" , class:"btn btn-success"%>
    <% end %>
  </li>
</div>


<div>
  <table>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </tr>

    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= (order_detail.price*1.1).round %>円</td>
        <td><%= order_detail.amount %></td>
        <td><%= (order_detail.price*order_detail.amount*1.1).round %>円</td>
        <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), local:true do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
            <%= f.submit "更新" , class:"btn btn-success"%>
          <% end %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <div>商品合計</div>
  <div>
    <% @sum = 0 %>
    <% @order.order_details.each do |order_detail| %>
    <div>
      <% @sum += (order_detail.price*order_detail.amount*1.1) %>
      <% end %>
      <%= @sum.round %>
    </div>
  </div>
</div>
<div>
  <div>送料</div>
  <div><%= @shipping_cost %></div>
</div>
<div>
  <div>請求金額合計</div>
  <div><%= (@sum += @shipping_cost).round %></div>
</div>