<div class="title">ショッピングカート</div>

<div>
  <%#= link_to %>
</div>

<div  class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="item-name">商品名</th>
        <th class="item-name">単価(税込)</th>
        <th class="item-name">数量</th>
        <th class="item-name">小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td class="item-name"><%= attachment_image_tag cart_item.item, :image, :fill, 100, 100 %><%= cart_item.item.name %></td>
          <td class="item-name"><%= cart_item.item.price*1.1 %></td>
          <td class="item-name"><%= cart_item.amount %></td>
          <td class="item-name"><%= cart_item.item.price*cart_item.amount*1.1 %></td>
          <td class="item-name">
            <%= link_to public_cart_item_path(cart_item.id), method: :delete do %>
              削除する
            <% end %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>


<div>
    <%= link_to public_items_path, class:"btn btn-primary" do %>
      買い物を続ける
    <% end %>
</div>

<div>
    <nav class="item-list">
      <li class="item-list-item">合計金額</li>
      <li class="item-list-item"><%= @total %></li>
    </nav>
</div>
<div>
    <%= link_to new_public_order_path, class:"btn btn-success" do %>
      情報入力に進む
    <% end %>
</div>




