<h2>注文情報確認</h2>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>

<% @cart_items.each do |cart_item| %>

  <tr>
    <td>
      <%= cart_item.item.name %>
    </td>
    <td>
      <%= cart_item.item.price %>
    </td>
    <td>
      <%= cart_item.amount %>
    </td>
    <td>
      <%= cart_item.item.price*cart_item.amount %>
    </td>
  </tr>

<% end %>

</table>

<!--送料とかの箱-->
<div>
<h2>支払方法</h2>
  <%= @order.payment_method_i18n %>
</div>

<div>
  <h2>お届け先</h2>
  <div>
    <%= @postal_code %>
  </div>
  <div>
    <%= @address %>
  </div>
</div>


<%= form_with model: @order, url: public_orders_path, local:true do |f| %>

  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= f.hidden_field :address, :value => @address %>
  <%= f.hidden_field :postal_code, :value => @postal_code %>
  <%= f.hidden_field :name, :value => @name %>
  <%= f.hidden_field :total_payment, => cart_item.item.price*cart_item.amount %>
  <%= f.hidden_field :state, :value => 0 %>

  <%= f.submit"注文を確定する" %>
<% end %>


