  <%= attachment_image_tag @item, :image %>

<div>
    <%= @item.name %>
</div>
<div>
    <%= @item.introduction %>
</div>
<div>
    ￥<%= @item.price %>
</div>

<%= form_with model: @cart_item, url: public_cart_items_path, local:true do |f| %>

  <div>
    <%= f.hidden_field :item_id, value: @item.id %>

    <%= f.select :amount, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10} %>
  </div>

  <%= f.submit "カートに入れる" %>

<% end %>
